<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie App</title>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <div class="container mx-auto">
      <h1 class="text-4xl">Movies</h1>

      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4">
        {{#movies}}
        <div>
          <div>
            <img src="{{ poster_path }}" alt="{{title}}" />
          </div>
          <h2 class="text-2xl">{{title}}</h2>
        </div>
        {{/movies}}
      </div>
    </div>
  </body>
</html>
