<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">

<head>
    {{> meta }}
    <link rel="stylesheet" href="/styles/index.css" />
    <script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js" defer></script>
    <script src="/js/index.js"></script>
</head>

<body class="grid min-h-screen overflow-x-hidden font-sans text-white bg-gray-900"
    style="grid-template-rows: auto 1fr auto;">
    {{> header }}
    <main class="container py-16 pt-48 mx-auto overflow-x-hidden md:pt-32 sm:px-4">
        {{{body}}}
    </main>
    {{> footer }}
</body>

</html>