<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie App</title>
    <link rel="stylesheet" href="styles/index.css" />
</head>

<body class="grid min-h-screen font-sans text-white bg-gray-900" style="grid-template-rows: auto 1fr auto;">
    {{> header }}
    <main class="container px-4 py-16 mx-auto">
        {{{body}}}
    </main>
    {{> footer }}
</body>

</html>